---
layout: default
---
<h1 class="page-heading"> Resume </h1>

<a href="{{ site.baseurl }}/assets/Carol_Ng_Resume.pdf" target="_blank" class="button download-resume">Resume (.pdf)</a>

<h2 class="resume-section"> Work Experience <h2>
<h3 class="resume-subsection"> Web Team Project Coordinator, <a class="resume-subsection-link" href="http://learningcommons.ubc.ca">UBC Learning Commons</a> </h3>
<span class="resume-meta"> September 2016 - present </span>
<p class="resume-desc"> Designed UX sessions for the website, initiated long-term content strategy, empowered students to improve their own study skills and mental health</p>

<h2 class="resume-section"> Projects <h2>

Under construction!

<h2 class="resume-section"> Extracurriculars <h2>

Under construction!

<h2 class="resume-section"> Education <h2>

Under construction!

